.nav-bar {
  height: 10%;
  display: flex;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  background-color: #242424;
  justify-content: space-between;
  min-width:fit-content;
  white-space: nowrap;
}

.nav-bar__title {
  font-size: 3rem;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.nav-bar__list {
  display: flex;
  margin-left: 0;
  padding-left: 0;
  width: fit-content;
  height: fit-content;
}

.nav-bar__link {
  list-style-type: none;
  font-size: 1.2rem;
  &:not(:last-child) {
    margin: 0 0.5rem 0 0;
  }
}