@import "reset";
@import "pages";

#root {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100vw;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: #ffffffb0;
}

