.buy-btn {
  border: 2px solid black;
  display: flex;
  width: 200px;
  padding: 10px 20px;
  background: rgb(15, 255, 15);
}
.buy-btn__btn {
  width: 100%;
  background: rgb(15, 255, 15);
  cursor: pointer;
}