.device {
  padding: 1rem 0.5rem;
  border: 2px solid black;
  width: 280px;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.device__row {
  display: flex;
  width: 80%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.device__name {
  font-size: 1.3rem;
  max-width: 185px;
  line-break: auto;
  text-align: center;
}

.device__container {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
}

.device__img {
  width: 200px;
  height: auto;
  margin: 0 0 10px 0;
  display: flex;
}

.device__rating {
  display: flex;
  justify-content:left;
  align-items: center;
}

.rating__img {
  width: 40px;
  height: 40px;
  
}

.rating__rate {
  font-size: 1.3rem;
}

.device__price {
  font-size: 1.3rem;
}