.device {
  max-width: 350px;
  width: 100%;
  outline: 2px solid var(--outline);
  background: var(--bg-div);
}

.device__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0%, 0%);
  transition: transform 0.2s;
  position: relative;
  outline: 2px solid var(--outline);
  background: white;
  padding: 10px;

  &:hover {
    transform: translate(2%, 2%);
  }
}

.device__name {
  font-size: 1.3rem;
}

.device__row {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.device__img {
  width: 300px;
  height: auto;
  cursor: pointer;
}

.rating__rate {
  font-size: 1.3rem;
  font-weight: 700;
}

.rating__img {
  width: 40px;
  z-index: 1;
  height: 40px;
}

.device__rating {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device__price {
  font-size: 1.6rem;
  margin: 0 170px 10px 0;
  font-weight: 700;
}