.footer {
  height: 60px;
  min-height: 50px;
  width: 100%;
  background: var(--bg-div);
  padding: 10px;
  outline: 2px solid var(--outline);
}

.footer__container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 100%;
  & * {
    color: var(--text-black)
  }
  & button {
    color: black;
  }
}

.footer__link {
  padding: 9px;
  transform: translate(0, 0);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transition: transform 0.3s ease-in-out;
    transform: translate(0, -20%);
  }
}