@import "reset";

#root {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

:root {
  transition: all 2s ease-in-out;
  --bg-main: #f5f5f5;
  --bg-secondary: white;
  --shadow: black;
  --outline: black;
  --text-black: black;
  --text-white: white;
  --text-link: rgb(255, 254, 255);
  --text-link-hover: rgb(250, 66, 173);
  --text-link-active: rgb(58, 0, 34);
  --bg-div: rgb(253, 153, 195);
  --bg-div-hover: rgb(255, 195, 220);
  --bg-button: rgb(255, 103, 166);
  --bg-button-hover: rgb(255, 126, 180);
  --bg-button-active: rgb(255, 49, 135);
  --radio-color: black;

  &:has(.pink:checked) {
    transition: all .5s ease-in-out;
    --text-white: white;
    --text-black: black;
    --bg-secondary: rgb(255, 187, 227);
    --bg-main: rgb(255, 231, 245);
    --text-link: rgb(255, 254, 255);
    --text-link-hover: rgb(250, 66, 173);
    --text-link-active: rgb(58, 0, 34);
    --bg-div: rgb(253, 153, 195);
    --bg-div-active: rgb(255, 82, 154);
    --bg-div-hover: rgb(255, 195, 220);
    --bg-button: rgb(255, 103, 166);
    --bg-button-hover: rgb(255, 126, 180);
    --bg-button-active: rgb(255, 49, 135);
  }
  
  &:has(.peach:checked) {
    transition: all .5s ease-in-out;
    // transition-duration: 2s;
    --text-white: rgb(3, 3, 3);
    --text-black: black;
    --bg-main: #fff2d9;
    --bg-secondary: #4d3200;
    --text-link: #684609;
    --text-link-hover: #af7e1d;
    --text-link-active: #7c5203;
    --bg-div: #ffc457;
    --bg-div-hover: #ffb731;
    --bg-div-active: #e59500;
    --bg-button: #ffb326;
    --bg-button-hover: #ffcc6d;
    --bg-button-active: #ffa600;
  }

  &:has(.dark:checked) {
    transition: all .5s ease-in-out;
    // transition-duration: 2s;
    --text-white: white;
    --text-black: white;
    --bg-secondary: rgb(129, 129, 129);
    --bg-main: #5e5e5e;
    --text-link: rgb(255, 255, 255);
    --text-link-hover: rgb(119, 119, 119);
    --text-link-active: rgb(39, 39, 39);
    --outline: rgb(41, 41, 41);
    --bg-div: rgb(0, 0, 0);
    --bg-div-hover: rgb(122, 122, 122);
    --bg-div-active: #404040;
    --bg-button: rgb(82, 82, 82);
    --bg-button-hover: rgb(48, 48, 48);
    --bg-button-active: rgb(20, 20, 20);
  }

}

html {
  background-color: var(--bg-main);
}

.current-page {
  padding: 20px;
  display: flex;
  flex-grow: 1;
}