.modal__container {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-black);
}

.modal__yes-no {
  display: flex;
  justify-content: space-around;
}

.modal__btn {
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  outline: 1px solid black;
}

.modal__yes-btn {
  background: var(--bg-div);
  color: var(--text-black);
}

.modal__no-btn {
  color: var(--text-white);
  background: rgb(141, 0, 0);
}