.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: #000000cb;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal__container {
  padding: 20px;
  border-radius: 20px;
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}
