.nav-bar {
  height: 10%;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  background-color: #242424;
  justify-content: space-between;
  min-width: 476px;
  white-space: nowrap;
}

.nav-bar__container {
  display: flex;
  justify-content:space-between;
}

.nav-bar__title {
  font-size: 3rem;
  text-decoration: none;
}

.nav-bar__links {
  display: flex;
  align-items:end;
}

.nav-bar__link {
  list-style-type: none;
  font-size: 1.2rem;
  height: fit-content;
  &:not(:last-child) {
    margin: 0 0.5rem 0 0;
  }
}


