.type-bar__type {
  font-size: 1.4rem;
  width: 200px;
  padding: 10px;
  position: relative;
  display: flex;
  position: relative;
  word-break: keep-all;
  color: var(--text-black);
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    background: var(--bg-button-hover);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
  }
  
  &:hover::before {
    transform: scaleX(1);
  }
  
  &:hover {
    color: var(--text-white);
  }
}

.selected-type {
  color: var(--text-white);
  background: var(--bg-button-active);
}