.type-bar__container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-top: none;
}

.type-bar__type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  word-break: keep-all;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-top: 2px solid black;
}

.selected-type {
  background: rgb(194, 194, 194);
}